
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
.login-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #ffffff, #f2f8ff);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  
  /* Círculos de fondo */
.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 0;
  }
  
  /* Círculo izquierdo arriba (azul) */
  .top-left {
    top: -95px;
    right: 179px;
    width: 220px;
    height: 220px;
    background-color: #65BCFF; 
    z-index: 1;
  }
  
  /* Círculo derecho arriba (morado) */
  .top-right {
    top: -100px;
    right: -90px;
    width: 300px;
    height: 300px;
    background-color: #7377FF; 
    z-index: 0;
  }
  
    /* Icono de user */
  .user-icon {
    margin-top: 160px;
    margin-bottom: 10px;
    height: 175px;
    z-index: 2;
  }
  
  .user-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  /* formulario */
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  
form input[type="text"],
form input[type="password"] {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #7377FF;
  color: white;
  font-size: 16px;
  text-align: center;
  outline: none;
  margin-top: 8px;
}

form input::placeholder {
  color: white;
  opacity: 1;
}
 
.btn-signin {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #65BCFF; 
  color: white;
  font-size: 16px;
  width: 140px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.remember label {
  color: #65BCFF; 
  font-size: 14px;
}

.remember input[type="checkbox"] {
  accent-color: #65BCFF;
}

.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
}




.btn-forgot {
  background: none;
  border: none;
  color: #65BCFF; 
  font-size: 12px;
  cursor: pointer;
  margin-top: 0px;
}
