
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Contenedor principal */
  .login-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #ffffff, #f2f8ff);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Círculos de fondo */
.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 0;
  }
  
  /* Círculo izquierdo arriba (azul) */
  .top-left {
    top: -95px;
    right: 179px;
    width: 220px;
    height: 220px;
    background-color: #65BCFF; 
    z-index: 1;
  }
  
  /* Círculo derecho arriba (morado) */
  .top-right {
    top: -100px;
    right: -90px;
    width: 300px;
    height: 300px;
    background-color: #7377FF; 
    z-index: 0;
  }
  